body {
    font-family: sans-serif;
    padding: 2rem 4rem;
}
p {
    margin-bottom: 1rem;
}
img {
    width: 300px;
    height: 300px;
    margin-bottom: 3rem;
    transition: transform .5s;
}

.transform1:hover {
    transform: rotate(180deg);
}
.transform2:hover {
    transform: rotateX(180deg);
}
.transform3:hover {
    transform: rotateY(180deg);
}