body {
    font-family: sans-serif;
    padding: 1.5rem;
    font-size: 2rem;
}
a {
    background: #0bd;
    color: #fff;
    padding: 6px;
    display: inline-block;
    position: relative;
    top: 40px;
    right: 20px;
}