body {
    font-family: sans-serif;
}
div {
    padding: 1rem;
    display: inline-block;
}
.absolute {
    background: #0bd;
    position: absolute;
    top: 60px;
    right: 20px;
}
.parent {
    background: #ddf5c4;
    border: 2px solid #a0d469;
    width: 50vw;
    height: 50vh;
    position: relative;
}
.child {
    background: #a0d469;
    position: absolute;
    left: 100px;
    bottom: 0;
}