ol li {
    counter-increment: list;
    margin-bottom: 0.25rem;
    line-height: 1.25;
}
ol li::before {
    content: counter(list);
    color: #fff;
    background: #0bd;
    border-radius: 50%;
    font-size: .75rem;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.75;
    text-align: center;
    display: inline-block;
    margin-right: 0.25rem;
    vertical-align: top;
}
