body {
    font-family: sans-serif;
    padding: 2rem 4rem;
}
p {
    margin-bottom: 1rem;
}
img {
    width: 300px;
    height: 300px;
    margin-bottom: 3rem;
    transition: transform .5s;
}

/* 左上を基点に回転 */
.transform1{
    transform-origin: left top;
}
.transform1:hover {
    transform: rotate(10deg);
}

/* 要素の左から50px、上から100pxの位置を基点に回転 */
.transform2 {
    transform-origin: 50px 100px;
}
.transform2:hover {
    transform: rotate(10deg);
}