body {
    background-color: #4db1ec;
    background-image: url('images/hero.jpg'), url('images/water.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: hard-light;
    height: 100vh;
}