body {
    font-family: sans-serif;
    padding: 2rem;
}
p {
    margin-bottom: 1rem;
}
img {
    width: 300px;
    height: 300px;
    margin-bottom: 2rem;
}

.filter1 {
    filter: invert(70%);
}
.filter2 {
    filter: invert(100%);
}